#
# Exclude everything except the files really needed
#
# This avoids unnecessary files from being sent to the cloud (and stored) by 'gcloud builds submit'.
#

*
!/cloudbuild.yaml
!/Dockerfile
!/build.sbt
